.map{
  position: relative;
  width: 100%;
  max-width: 1110px; /* Maximum width to maintain layout integrity */
  padding-top: 49%; 
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../../img/Group7.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (min-width: 1078px) {
  .map{
    padding-top: 0;
    position: relative;
    width: 100%;
    max-width: 1110px; /* Maximum width to maintain layout integrity */
height: 573px;
  }
}
/* .map::before{
  width: 100%; 
  max-width: 1110px;
    content:"";
    background-position: center ; 
  position: absolute; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../../img/Group7.png");
  background-color:#E5ECF4;

  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index: 1;
  } */
  .map *{
    z-index: 5;
  }
  .map-back{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
   }
  .rectangle {
    
    height: 52px;
    width: 180px;
  background: #FCB72B;
  
  }.shapes{
    width: 189px;
    position:absolute;

  }
  .triangle-down {
    width: 0;
    height: 0;
      position:relative;
     left:4.6rem;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 32px solid #FCB72B;
  }
  .rectangle p{
    width: 189px;
    font-family: Space Mono;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: -1.0714285373687744px;
position:relative;
/* left:3.5rem; */
padding:0rem 1rem 0rem 1rem;
top:0.8rem;
/* text-align: center; */
  }
#york{
  position:relative;
  left:9rem;
  top:5.5rem;
}
  #york p {
    left:2rem;
  }
  #london{
    position:relative;
    left:25rem;
    top:-4rem;
  }
  #london p{
    left:2.4rem;
  }
  #yokahama{
    position:relative;
    left:54rem;
    top:-6rem;
  }
  #yokahama p{
    left:1.7rem;
  }
  #jakarta{
    position:relative;
    left:49rem;
    top:0.2rem;
  }
  #jakarta p{
    left:2.5rem;
  }